/Backend/Backend/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Backend/Backend/obj/Debug/net6.0/Backend.AssemblyInfo.cs
/Backend/Backend/obj/Debug/net6.0/Backend.AssemblyInfoInputs.cache
/Backend/Backend/obj/Debug/net6.0/Backend.assets.cache
/Backend/Backend/obj/Debug/net6.0/Backend.csproj.AssemblyReference.cache
/Backend/Backend/obj/Backend.csproj.nuget.dgspec.json
/Backend/Backend/obj/Backend.csproj.nuget.g.props
/Backend/Backend/obj/Backend.csproj.nuget.g.targets
/Backend/Backend/obj/Debug/net6.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/Backend/obj/Debug/net6.0/Backend.GlobalUsings.g.cs
/Backend/.idea/.idea.Backend/.idea/encodings.xml
/Backend/Backend/obj/project.assets.json
/Backend/Backend/obj/project.nuget.cache
/Backend/Backend/obj/project.packagespec.json
/Backend/Backend/obj/rider.project.restore.info
