body {
    background-image: url("../assets/images/background.jpg");
}

#messaging {
    display: none;
}

#registration {
    height: calc(100vh - 15rem);
}

.registration-card {
    background-color: black;
}

@font-face {
    font-family: 'GohuFont Nerd Font';
    src: url("../assets/fonts/GohuFont11NerdFontMono-Regular.ttf") format("truetype"),
        url("../assets/fonts/GohuFont14NerdFontMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.pixel-font {
    font-family: "GohuFont Nerd Font";
}

#messaging {
    height: calc(100vh - 20rem);
}

#leave-button {
    float: right;
}

#enter-button {
    background-color: blue;
    color: antiquewhite;
}

#enter-button:hover {
    background-color: yellow;
    color: black;
}

#all-messages {
    overflow-y: scroll;
}